* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 70px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    background: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 65px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

/* ---- COLORFUL BUTTONS ---- */
.btn {
    background: linear-gradient(135deg, #ff9a00, #ff6a00);
}

btn:hover {
    opacity: 0.8;
}

/* Operators Colors */
.orange {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.red {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

.purple {
    background: linear-gradient(135deg, #7f00ff, #e100ff);
}

.blue {
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
}

.green {
    background: linear-gradient(135deg, #00b09b, #96c93d);
}

.zero {
    grid-column: span 2;
}
